.git
.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/venv
**/.DS_Store
**/.idea
**/.vscode
**/.cursor
**/.streamlit/secrets.toml
**/*.ipynb_checkpoints
**/node_modules
